<%- include('includes/head.ejs') %>

<div class="text-center">
    <h4>¿Qué beneficios encuentras en el estilo MVC?</h4>
</div> 

<div class="row d-flex justify-content-center">

    <div class="col-md-6">

        Si ya trabajar en el laboratorio anterior con HTML dinámico facilitaba la forma en la que se seccionaban los tipos de archivo, 
        considero que separarlo por el tipo de componentes que una página va a cargar hace que la lectura de código se facilite.

    </div>

</div> 

<br>
<hr>
<br>

<div class="text-center">
    <h4>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h4>
</div> 

<div class="row d-flex justify-content-center">

    <div class="col-md-6">

        A pesar de que se separan los componentes, si se tienen varias instrucciones de POST y GET, para asegurarse de que estas funcionen 
        correctamente, se deben de tener varios archivos abiertos y revisarlos parte por parte.

    </div>

</div> 

<br>
<hr>

<div class="text-center">
    <a href="/">Regresar al inicio</a>
</div>

<%- include('includes/foot.ejs') %>