<%- include('includes/head.ejs') %>

<div class="text-center">
    <h4>¿Qué otros templating engines existen para node?</h4>
</div> 

<div class="text-center">
    En base a <a href="https://expressjs.com/en/resources/template-engines.html">Express.js</a>, algunas templates son:
</div>

<div class="row d-flex justify-content-center">

    <div class="col-md-6">

        <ul>

            <li>Pug: Template inspirado en Haml.</li>
            <li>Haml.js: Implementación Haml.</li>
            <li>EJS: Template incorporado en JavaScript.</li>
            <li>hbs: Adaptador de Handlebars.js, una extensión de Mustache.js.</li>
            <li>Squirrelly: Template increíblemente rápida; soporta parciales, filtros, tags personalizadas etc.</li>
            <li>Sprightly: Template ligera, consiste en las características "principales".</li>
            <li>Haml-Coffee: Templates basadas en Haml donde se puede escribir Coffescript.</li>

        </ul>

    </div>

</div> 

<div class="text-center">
    <a href="/">Regresar al inicio</a>
</div>

<%- include('includes/foot.ejs') %>