
<%- include('includes/head.ejs') %>

<div class="text-center">
    <h4>Tomb Raider</h4>
</div> 

<div class="row d-flex justify-content-center">
    <div class="col-md-6">La serie de videojuegos de Tomb Raider en su conjunto ha alcanzado más de 63 millones de unidades vendidas en abril de 2018, siendo 20 de ellos vendidos en los últimos cuatro años hasta dicha fecha, y convirtiéndose en una de las franquicias de videojuegos más vendidas de todos los tiempos. En 2012, la saga contaba con 30 millones de copias vendidas, por lo que en los últimos 6 años ha doblado las cifras, a la espera del lanzamiento de Shadow of the Tomb Raider.<br>Fuente: https://es.wikipedia.org/wiki/Tomb_Raider_(serie)<hr>
    </div>
</div> 

<div class="text-center">
    <h4>NieR: Automata</h4>
</div> 

<div class="row d-flex justify-content-center">
    <div class="col-md-6">Nier: Automata comparte el mismo universo postapocalíptico que el primer Nier y toma lugar luego del cuarto final de este último videojuego. Aunque contiene referencias con la serie Drakengard en cuanto a su atmósfera oscura y la ramificación de su historia, no guarda conexión narrativa con dicha saga. Situada miles de años luego de los eventos que ocurrieron en Nier, la historia gira en torno a una guerra entre los androides remanentes de la humanidad y un ejército de máquinas invasoras de otro mundo.<br>Fuente: https://es.wikipedia.org/wiki/NieR:_Automata<hr>
    </div>
</div> 

<div class="text-center">
    <a href="/">Regresar al inicio</a>
</div>

<%- include('includes/foot.ejs') %>
