<%- include('includes/head.ejs') %>
    
<div class="text-center">
    <h4>Foals</h4>
</div>

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        Foals es una banda originaria de Oxford, Inglaterra. La banda publica con Transgressive Records en Europa y Sub Pop en los EE. UU. 
        Publicaron un álbum completo—titulado Antidotes—el 24 de marzo de 2008 en el Reino Unido, y el 8 de abril en EE. UU. Iba a ser 
        producido originalmente por Dave Sitek de TV on the Radio pero la banda rechazó la mezcla final de Sitek y remezclaron el disco 
        entero ellos mismos debido al excesivo uso del efecto reverb que le daba un sonido espacial.
        <br>
        Fuente: <a href="https://es.wikipedia.org/wiki/Foals">Wikipedia</a> 
        <hr>
    </div>
</div> 

<div class="text-center">
    <h4>Everything Everything</h4>
</div> 

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
        Everything Everything es un grupo inglés de indie rock, creado a finales de 2007. Sus integrantes son de Newcastle, Kent y Guernsey. 
        La banda saltó a la fama cuando se dieron a conocer en el programa “Sound of 2010”, de la BBC el 7 de diciembre de 2009. 
        Debutaron con el álbum “Man Alive” gracias Geffen Records el 30 de agosto de 2010, donde se colocaron en el número 17 en Reino Unido.
        <br>Fuente: <a href="https://es.wikipedia.org/wiki/Everything_Everything">Wikipedia</a> 
        <hr>
    </div>
</div> 

<div class="text-center">
    <a href="/">Regresar al inicio</a>
</div>

<%- include('includes/foot.ejs') %>